html { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }    

html {
    min-width: 320px;
    font-size: 100%;
	min-height: 100%
}
body{
	position: relative;
	min-height: 100%;
	font-family: Arial,sans-serif;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0;
    text-transform: none;
    color: #fff;
    background-color: #eec8b9;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
    direction: ltr;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
*, ::after, ::before {
    box-sizing: inherit;
}
* {
    box-sizing: border-box;
}
.responsive-img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border:0;
    text-align: center;
    font-size: 12px;
    color: #ccc;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.custom-container{
	background-color: #eec8b9;
	color: #ffffff;
	transition: background 1.2s ease;
	position: relative;
}
.custom-container:before, .custom-container:after{
	content: ' ';
	display: table;
}
 .custom-container:after {
 	clear: both;
 }

/*BEGIN SIDE BAR CSS*/
.toggle-button {
	z-index: 200;
    position: absolute;
    cursor: pointer;
    width: 27px;
    height: 100%;
    right: 40px;
    top: 40px;
    padding: 30px;
    display: block;
}

.icon-bar {
    background-color: #ffffff;
    display: block;
    border-radius: 2px;
    height: 3px;
    margin: 6px 0;
    width: 30px;
    transition: transform .1s,margin .1s,background .1s .1s;
    transition-timing-function: ease-out;
}
.toggle-button.open .icon-bar:first-child {
    width: 27px;
    transform: rotate(40deg);
    margin-top: 10px;
    background-color: #000;
    animation: crossHamburgerTopBar .3s .15s forwards;
    animation-timing-function: ease-in;
}
.toggle-button.open .icon-bar:nth-child(3) {
    width: 27px;
    transform: rotate(135deg);
    position: absolute;
    bottom: 10px;
    background-color: #000;
    animation: crossHamburgerTopBar .3s .15s forwards;
    animation-timing-function: ease-in;
}

.toggle-button:hover .icon-bar-1{
	width: 24px;
	margin-right: 6px;
}
.toggle-button:hover .icon-bar-2{
	width: 24px;
	margin-left: 6px
}

.toggle-button .icon-bar + .icon-bar {
    margin-top: 4px;
}
.sidebar {
	transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease,-webkit-transform .25s ease;
    position: fixed;
    font-style: normal;
    font-weight: 400;
    z-index: 10;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #b3b3b3;
    padding: 1.5rem 2.5rem;
}
.main-content {
	transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease,-webkit-transform .25s ease;
    position: relative;
    z-index: 6;
}
.sidebar.open, .side-menu-open{
	-webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
@media only screen and (min-width: 992px){
	.sidebar.open, .side-menu-open {
	    -webkit-transform: translateX(-34rem);
	    transform: translateX(-34rem);
	}
	.sidebar {
    	width: 34rem;
    	padding: 1.5rem 2.5rem;
	}
    .sidebar-menu > .sidebar-item {
        font-size: 1.15rem;
    }
}

.sidebar-menu {
    margin-bottom: 10px;
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.sidebar-menu > .sidebar-item {
    display: block;
    position: relative;
    font-size: 1.1rem;
    margin-left: 10rem;
    padding: .8rem 0;
    border: 0;
    line-height: 1.105;
    transition: all .7s ease;
    width: 100%;
    opacity: 0;
}

.sidebar-menu > .sidebar-item > a {
    display: block;
    position: relative;
    outline: 0;
    text-decoration: none;
    transition: color .15s ease;
    color: #b3b3b3;
}
.sidebar.open .sidebar-item:first-child {
    transition-delay:0s;
}
.sidebar.open .sidebar-item {
    margin-left: 0;
    opacity: 1;
    font-size: 1.5rem;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #ff5a60;
}
/*END SIDE BAR CSS*/

.main-title {
    display: block;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

._title1, ._title2, ._title3, ._title4, ._title5, ._title6 {
    font-family: Circular Air Bold,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1px;
    text-transform: none;
    display: block;
    line-height: 1.235;
    position: relative;
    color: #fff;
}
@media only screen and (min-width: 992px){
	.main-title {
	    margin-left: 2.5rem;
	}
	._title3 {
	    font-size: 1.7rem;
	}
	.panel:first-child > *:first-child {
		height: 100%;
		position: absolute;
	    min-height: 0;
	}
	.main-content {
		    position: absolute;left: 0;top: 0;width: 100%;height: 100%;
	}
}
@media only screen and (min-width: 1120px){
	._title1 {
	    font-size: 3.3rem;
	}
	._title3 {
	    font-size: 2rem;
	}
}

.tiles {
    width: 100%;
    overflow-y: auto;
}
.tiles .panel {
    overflow: hidden;
    position: relative;
}
.tiles .panel1 {
	width: 100%;
}
.tiles .panel2 {
	width: 100%;
}
.tiles .panel3 {
	width: 100%;
}

@media (min-width: 992px){
	.tiles .panel {
	    transition-property: width, height, top, left;
	    transform: translate3d(0px, 0px, 0px);
	    transition-duration: 1.5s;
	    transition-timing-function: cubic-bezier(0, 0.62, 0.41, 1);
	    display: block;
	    z-index: 0;
    	position: absolute;
	    cursor: pointer;
	}
	.panel:first-child > *:first-child {
		height: 100vh;
	}
	.tiles .panel1 {
		left: 0;
		top: 0;
		width: 60%;
		height: 100%;
	}
	.tiles .panel2 {
		width: 40%;
		left: 60%;
		top: 30%;
		height: 50%;
	}
	.tiles .panel3 {
		width: 40%;
		left: 60%;
		height: 20%;
		top: 80%;
	}
}
.panel-child-wrapper{
	position: absolute;
    height: 100%;
	top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
}
.child-content {
	min-width: 30rem;
	z-index: 1;
	text-align: center;
}
.button {
    transition: background .3s ease-in,border .3s ease-in,transform .1s cubic-bezier(.91,.8,.54,1),-webkit-transform .1s cubic-bezier(.91,.8,.54,1);
    border: 1px solid #fff;
    border-radius: 2em;
    color: #ffffff;
    transform: scale(.95);
    line-height: inherit;
    width: auto;
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    outline: 0;
    padding: .8rem 3.2rem;
    background-color: transparent;
    cursor: default;
    transform: scale(0.95);
}
.button:hover, .button:active{
    background-color: #ff646a;
    border-color: #ff646a;
    transform: scale(1);
    cursor: pointer;
} 
#panel2:hover .button1{
	background-color: #ff646a;
	border-color: #ff646a;
    cursor: pointer;
}
#panel3:hover .button2{
	background-color: #ff646a;
	border-color: #ff646a;
    cursor: pointer;
} 
/*Play Icon*/
.icon-play {
  width: 100px;
  height: 100px;
  border: solid 2px #fff;
  border-radius: 100px;
  transform: scale(0.6);
  transition: background .5s ease-in,border .5s ease-in,transform .3s cubic-bezier(.91,.8,.54,1);
}
.icon-play:before {
  content: "";
  width: 34px;
  height: 53px;
  border-left: 2px solid #fff;
  border-radius: 5px;
  position: absolute;
  top: 23px;
  left: 37px;
}
.icon-play:after {
  content: "";
  position: absolute;
  top: 27px;
  left: 19px;
  width: 42px;
  height: 42px;
  -webkit-transform: rotate(45deg) skew(-5deg, -5deg);
          transform: rotate(45deg) skew(-5deg, -5deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 5px;
}

.icon-play:hover {
  border-color: #FF5A60;
  background-color: #FF5A60;
  transform: scale(0.8);
}

#panel1:hover .icon-play {
  border-color: #FF5A60;
  background-color: #FF5A60;
}

.view-overlay.visible {
    transition: opacity .3s ease,left 0s linear;
    left: 0;
    opacity: .07;
}
.view-overlay {
    transition: opacity .3s ease,left 0s linear .3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: -9999px;
    z-index: 8;
}

.video-player {
    transition: opacity .3s ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 8;
    opacity: 0;
}
.video-player.ready {
    opacity: 1;
     position: fixed; 
    -webkit-overflow-scrolling: touch;
     width: 100vw; 
     height: 100vh; 
}

@media only screen and (min-width: 992px) {
	.video-player .close-button {
	    right: 40px;
	    top: 40px;
	}
}
.video-player .close-button {
    display: block;
    right: 30px;
    top: 40px;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    width: 50px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 5px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    background-color: rgba(255, 255, 255, 0);
    transform: scale(0.8);
}
.close-button:hover {
  border-color: #FF5A60;
  color: #FF5A60;
  transform: scale(1);
}
@media (max-width: 992px) {
	.video-panel {
		position: relative;
	}
}